Merging and Exporting Data

This script includes the following points:

1 Import Data
2 Check Output of Data
3 Merge dataframes df_ords and df_ords_prior

In [ ]:

# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
# string
path =r'/Users/juliapetke/Desktop/Career Foundry/Instacart Basket Analysis'


1 Import Data

In [5]:
# import of df_ords_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_prior.csv'), index_col = False)

In [8]:
# import of ords_new.csv
df_ords_new = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_new.csv'), index_col = False)


2 Checking the Output

In [10]:
# check the output
df_ords_prior. head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords_new. head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,0.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [18]:
df_ords_new.shape

(3421083, 6)

In [20]:
df_ords_prior.shape

(32434489, 4)


3 Merge Data

In [25]:
# Merge df and df_2 using order_id as a key 
df_merged_large = df_ords_new.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [29]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [33]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))